section.about#about
  .about-wrapper
    .about__img-wrapper
      img.about__img(src="assets/img/about-bg.png")
    .about__content
      h2.about__content--title ABOUT US
      h3.about__content--headline Experience matters. <br /> Relevant experience matters more.
      p.about__content--body Windom, Galliher & Associates brings a variety of experience to work each day to advise its clients and advocate for them every day. Whether it is the perspective of two former legislators, a statewide government official, a former government regulator, a career law enforcement official, an attorney, an education administrator, or journalism and public relations professional, the four governmental relations professionals of Windom, Galliher & Associates have decades of deep and diverse work histories that make positive differences for their clients.
