meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="description" content="Website for Lobbyist Firm Windom, Galliher and Associates")
meta(name="author" content="Golden Rule")


<!-- favicon -->
// link(rel="apple-touch-icon-precomposed" href="assets/favicon/apple-touch-icon-152x152-precomposed.png")
// link(rel="icon" href="assets/favicon/favicon.png")
// [if IE]><link rel="shortcut icon" href="assets/favicon/favicon.ico"><![endif]
// or, set /favicon.ico for IE10 win
// meta(name="msapplication-TileColor" content="#C2273C")
// meta(name="msapplication-TileImage" content="assets/favicon/tileicon.png")

<!-- Facebook Sharing -->
// meta(property="og:title" content="Alison Ingram | Elementary Education")
// meta(property="og:url" content="http://www.alisoningram.co/")
// meta(property="og:type" content="profile")
// meta(property="og:description" content="Resume website for Alison Ingram, a soon to be graduate of Auburn University's Elementary Education program.")
// meta(property="og:image" content="http://www.alisoningram.co/assets/img/alison_cropped@0.5x.jpg")

<!-- Twitter Sharing -->
// meta(property="twitter:title" content="Alison Ingram | Elementary Education")
// meta(property="twitter:url" content="http://www.alisoningram.co/")
// meta(property="twitter:card" content="Image")
// meta(property="og:description" content="Resume website for Alison Ingram, a soon to be graduate of Auburn University's Elementary Education program.")
// meta(property="og:image" content="www.alisoningram.co/assets/images/alison_cropped@0.5x.jpg")

link(href="https://fonts.googleapis.com/css?family=Oswald|Roboto|Roboto+Slab:400,700" rel="stylesheet")

link(rel="stylesheet" href="css/main.css")
title Windom, Galliher and Associates
