section.hero#hero
  .hero__wrapper
    h1.hero__title Windom, Galliher and Associates
    p.hero__content We have learned there are few, if any, shortcuts on the road to success. 
    .button-wrapper
      .button-wrapper--centered
        a.hero__cta--ghost.smoothScroll(href="#purpose") OUR PURPOSE
        a.hero__cta.smoothScroll(href="#contact") CONTACT US
      
