section.links#links
  h2.links__title RELATED LINKS
  .links__wrapper
    a(href="http://governor.alabama.gov/" target="_blank").links__link
      img.links__link--image(src="assets/img/govOffice.png")
      h3.links__link--name Alabama Governor's Office
    a(href="http://www.legislature.state.al.us/aliswww/ISD/Splash_Senate.aspx" target="_blank").links__link
      img.links__link--image(src="assets/img/stateSenate.png")
      h3.links__link--name Alabama Senate
    a(href="http://www.legislature.state.al.us/aliswww/ISD/Splash_House.aspx" target="_blank").links__link
      img.links__link--image(src="assets/img/houseRep.png")
      h3.links__link--name Alabama House
    a(href="http://www.sos.alabama.gov/" target="_blank").links__link
      img.links__link--image(src="assets/img/stateSecretary.png")
      h3.links__link--name Alabama Secretary of State
