nav#nav-bar
  .nav
    //h1.nav__title#nav-type 
      //a.nav__title-text.smoothScroll(href="http://golden-rule.github.io/windomGalliher/") Windom, Galliher and Associates

    ul.nav__links
      li a#nav-home.smoothScroll(href="https://golden-rule.github.io/windomGalliher/") Home
    
    .nav__icon-click            
      .nav__icon
        span
        span
        span
        span
        
.nav__links--mobile#menu  
  ul
    li: a#mobile-home.smoothScroll(href="https://golden-rule.github.io/windomGalliher/") Home
