nav#nav-bar
  .nav.nav-newsletters
    ul.nav__links
      li: a#nav-home.smoothScroll(href="/windomGalliher/") Back to Home Page
    
    .nav__icon-click            
      .nav__icon
        span
        span
        span
        span
        
.nav__links--mobile#menu  
  ul
    li: a#mobile-home.smoothScroll(href="/windomGalliher/") Back to Home Page
