nav#nav-bar
  .nav
    //h1.nav__title#nav-type 
      //a.nav__title-text.smoothScroll(href="http://golden-rule.github.io/windomGalliher/") Windom, Galliher and Associates

    ul.nav__links
      li#border-purpose: a#nav-purpose.smoothScroll(href="#purpose") Purpose
      li#border-about: a#nav-about.smoothScroll(href="#about") About
      li#border-team: a#nav-team.smoothScroll(href="#team") Team
      li#border-newsletter: a#nav-newsletter.smoothScroll(href="#newsletter") Newsletter
      li#border-links: a#nav-links.smoothScroll(href="#links") Links
      li#border-contact: a#nav-contact.smoothScroll(href="#contact") Contact
    
    .nav__icon-click            
      .nav__icon
        span
        span
        span
        span
        
.nav__links--mobile#menu  
  ul
    li: a#mobile-purpose.smoothScroll(href="#purpose") Purpose
    li: a#mobile-about.smoothScroll(href="#about") About
    li: a#mobile-team.smoothScroll(href="#team") Team
    li: a#mobile-newsletter.smoothScroll(href="#newsletter") Newsletter
    li: a#mobile-links.smoothScroll(href="#links") Links
    li: a#mobile-contact.smoothScroll(href="#contact") Contact
