section.newsletter#newsletter
  h2.newsletter__title NEWS FROM THE FLOOR
  .newsletter__wrapper
    a.newsletter__item(href="https://drive.google.com/open?id=0B24-Xa0xZVe0dXpmR21DS3hUQmc" target="_blank")
      h4.newsletter__item--issue Issue No. 43
      hr.newsletter__item--divider 
      h3.newsletter__item--title The most troubling article of all: Impeachment
      p.newsletter__item--date APRIL 8, 2016
    a.newsletter__item(href="https://drive.google.com/open?id=0B24-Xa0xZVe0aVFZdi1rWmhvSVU" target="_blank")
      h4.newsletter__item--issue Issue No. 42
      hr.newsletter__item--divider
      h3.newsletter__item--title Legislators to take break before ‘April showers’
      p.newsletter__item--date MARCH 24, 2016
    a.newsletter__item(href="https://drive.google.com/open?id=0B24-Xa0xZVe0Y2NtTjRyNDVnWE0" target="_blank")
      h4.newsletter__item--issue Issue No. 41
      hr.newsletter__item--divider
      h3.newsletter__item--title Budget, bingo and ‘The Return of The Zapper’
      p.newsletter__item--date MARCH 18, 2016
    a.newsletter__item(href="https://drive.google.com/open?id=0B24-Xa0xZVe0TVdhejZkdzZDRG8" target="_blank")
      h4.newsletter__item--issue Issue No. 40
      hr.newsletter__item--divider
      h3.newsletter__item--title House prepares to take up lean GF budget
      p.newsletter__item--date MARCH 10, 2016
    a.newsletter__item(href="https://drive.google.com/open?id=0B24-Xa0xZVe0clNDWVBWYVZaQ2s" target="_blank")
      h4.newsletter__item--issue Issue No. 39
      hr.newsletter__item--divider 
      h3.newsletter__item--title It is the best of times, the worst of times 
      p.newsletter__item--date MARCH 4, 2016
    a.newsletter__item(href="https://drive.google.com/open?id=0B24-Xa0xZVe0LWFwMjJjWjFIcms" target="_blank")
      h4.newsletter__item--issue Issue No. 38
      hr.newsletter__item--divider
      h3.newsletter__item--title Medicaid, minimum wage take center stage 
      p.newsletter__item--date FEBRUARY 26, 2016
  a.newsletter__view-more(href="newsletters.html" target="_blank") VIEW MORE...
