section.purpose#purpose
  .purpose-wrapper
    h2.purpose__title Our purpose
    q.purpose__quote Eighty percent of success is showing up.
    cite.purpose__quote--speaker WOODY ALLEN
    p.purpose__content It’s that last twenty percent that makes success so difficult to achieve. Windom, Galliher & Associates finds that last twenty percent in staying there, talking to one more person, contemplating one more potential obstacle, turning over the rock that no one else sees, and not leaving until the work is done. Windom, Galliher & Associates succeeds for its clients by digging deep – deeper than others – to find that twenty percent.
    p.purpose__content Windom, Galliher & Associates opens doors, maximizes opportunities and generates success for its clients through a full range of governmental relations services.  Based in Montgomery, Alabama, the firm comfortably navigates the legislative, executive and administrative waters to the benefit of clients from various sectors of business, including health care, insurance, utilities, education, technology and more.
