.hero {
  width: 100vw;
  height: 100vh;
  background: url(../assets/img/bg.jpg);
  background-size: cover;
  background-position: center;
  position: fixed;
  z-index: 0;
  top: 0;

  &:after { /* add the transparent pattern overlay */

    background: url(http://s14.directupload.net/images/111129/44ga9qid.png) center repeat;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0.1;
    z-index: 1;
  }

  &__wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-width: 1150px;
    width: 80%;
    padding: 0;
    margin: 0 auto;
    z-index: 2;
  }
  &__title {
    font-family: $serif-font;
    font-size: em(24);
    font-weight: 700;
    text-align: center;
    color: $text-color-light;
    margin: 0;
  }
  &__content {
    font-family: $display-font;
    font-weight: 400;
    text-align: center;
    font-size: em(64);
    color: #fff;
    margin: 20px 0 30px 0;

    &--secondary {
      margin-bottom: 1em;
    }
  }
  &__cta {
    font-family: $sans-font;
    text-decoration: none;
    font-size: em(15);
    font-weight: 500;
    text-align: center;
    background: $primary-color;
    display: inline;
    border: 2px solid $primary-color;
    border-radius: em(2);
    outline: none;
    padding: .85em 4em;
    color: #fff;
    transition: all .2s ease-out;
    margin: 0 20px;

    &:hover {
      background: $primary-dark;
      border: 2px solid $primary-dark;
    }

    &--ghost {
      @extend .hero__cta;
      background: transparent;
      border: 2px solid #fff;
      &:hover {
        background: rgba(255, 255, 255, 0.3);
        border: 2px solid rgba(255, 255, 255, 0.3);
      }
    }

    &--secondary {
      @extend .hero__cta;
      display: inline;
      background: rgba(255, 255, 255, 0.3);
      margin-left: 20px;

      &:hover {
        background: rgba(255, 255, 255, 0.5);
      }
    }
  }
}

.button-wrapper {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: em(46);
  padding: em(23) 0;

  &--centered {
    display: inline-block;
    position: relative;
    padding-top: 40px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (-webkit-device-pixel-ratio: 2), (min-resolution: 120dpi) {
  .hero {
    background: linear-gradient(rgba($primary-dark, 0.3), rgba($primary-dark, 0.3)), url(/assets/img/alison_cropped.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media (max-width: $S) {
  .hero {
    background: linear-gradient(rgba($primary-dark, 0.3), rgba($primary-dark, 0.3)), url(/assets/img/alison_cropped@0.5x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &__wrapper {

      &--content {
        width: 80%;
        position: absolute;
        font-size: em(14);
        top: 50%;
        transform: translateY(-50%);
      }
    }
    &__cta {
      font-size: em(15);
      font-weight: 600;
      text-align: center;
      background: $accent-color;
      display: block;
      border: none;
      border-radius: em(23);
      outline: none;
      padding: .85em 2em;
      color: #fff;
      transition: all .2s ease-out;

      &:hover {
        background: #BA985B;
      }

      &--secondary {
        display: inline;
        background: rgba(255, 255, 255, 0.3);
        margin: 1em 0 0 0;
        display: block;

        &:hover {
          background: rgba(255, 255, 255, 0.5);
        }
      }
    }
  }

  .button-wrapper {
    padding-bottom: em(40);
  }
}
