// fonts

$sans-font: 'Roboto', sans-serif;
$serif-font: 'Playfair Display', serif;
$display-font: 'Oswald', $sans-font;
$section-headline: 400 40px/1.3 $display-font;
$section-title: 15px $serif-font;
$body-text: 15px/1.4 $sans-font;

// colors

$primary-color: #E32D46;
$primary-dark: #C2273C;
$accent-color: #212121;
$text-color-dark: $accent-color;
$text-color-light: #fff;
$bg-color: #F2F2F2;
$bg-color-dark: $accent-color;
$link-color: $primary-color;
$btn-color: $primary-color;
$btn-hover: $primary-dark;
$error-color: #EF233C;
$success-color: #06D6A0;

// breakpoints

$S:     430px;
$M:     820px;
$L:     1170px;
